html
    head
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js") 
        link(rel="stylesheet", href="style/style.css")
    body 
        .phone 
            .top 
            .screen 
                .page1.pages
                    h2 orange 
                    h2 橘
                .page2.pages
                    h2 page2
                .page3.pages
                    h2 page3
            .bottom 
                .home_button 
        h3.text The "Best" iphone ew've ever made!
        h2.phone_name 
        .select  
            button.iphone(h="300px" w="220px") iphone 5
            button.iphone(h="400px" w="250px") iphone 5s
            button.iphone(h="450px" w="270px") iphone 6
            button.iphone(h="410px" w="250px") iphone 6s
            button.iphone(h="300px" w="200px") iphone se1
            button.iphone(h="500px" w="300px") iphone 13pro
            button.wiggle wiggle 
            button.turn turn
        script(src="./script/script.js",) 